<div id="page-content">
  <div class="container" id="home-container">
	  <div class="card text-center text-white" id="withpicture">
	  	<div class="card-body">
			  <h5 class="card-title">Alpha Blog</h5>
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <%= link_to 'Sing Up', signup_path, class: "btn btn-success"%>
			  
		  </div>
	  </div>
  </div>
</div>
